<div class="max-w-7xl px-4 lg:px-0 mx-auto mt-5" *ngIf="loaded">
  <nav class="flex mb-4 md:mb-8" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li>
        <div class="flex items-center">
          <a routerLink="/posts" class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2">{{'SHOW.POSTS' | translate}}</a>
        </div>
      </li>
      <li aria-current="page">
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400 rtl:rotate-180 rtl:transform" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <span class="ml-1 text-xs md:text-sm md:font-medium text-gray-400 md:ml-2 rtl:md:mr-2 rtl:md:ml-0">{{post | translateAttribute:'title'}}</span>
        </div>
      </li>
    </ol>
  </nav>
  <h3 class="text-gray-800 font-bold text-xl">{{post | translateAttribute:'title'}}</h3>
  <h5 class="text-gray-600">{{'SHOW.AUTHOR' | translate}}: {{post.user.name}}</h5>
  <div class="my-4">
    <img [src]="post.image_url" class="rounded-lg shadow-lg" [alt]="post | translateAttribute:'title'">
  </div>

  <p class="my-8" [innerHTML]="post | translateAttribute:'description'"></p>
</div>
