<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 rounded-lg text-left bg-white shadow-lg max-w-2xl w-full">
    <div class="flex justify-center mb-3">
      <img class="h-8 w-auto sm:h-10" src="/front/assets/images/logo.svg" alt="logo">
    </div>
    <h3 class="text-2xl font-bold text-center">{{'REGISTER.TITLE' | translate}}</h3>
    <form (submit)="$event.preventDefault();register()" [formGroup]="registerForm">
      <div class="mt-4">
        <div>
          <label class="block rtl:text-right" for="name">{{'REGISTER.NAME' | translate}}</label>
          <input type="text" placeholder="{{'REGISTER.NAME' | translate}}" id="name" formControlName="name"
                 class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-600">
          <span class="text-xs text-red-600" *ngIf="(registerForm.controls['name'].touched || registerForm.controls['name'].dirty) && registerForm.controls['name'].hasError('required')">{{'VALIDATION.REQUIRED'|translate:({field:'REGISTER.NAME' | translate})}}</span>
          <span class="text-xs text-red-600" *ngIf="(registerForm.controls['name'].touched || registerForm.controls['name'].dirty) && registerForm.controls['name'].hasError('backend')">{{errors.email}}</span>
        </div>
        <div class="mt-4">
          <label class="block rtl:text-right" for="email">{{'REGISTER.EMAIL' | translate}}</label>
          <input type="text" placeholder="{{'REGISTER.EMAIL' | translate}}" id="email" formControlName="email"
                 class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-600">
          <span class="text-xs text-red-600" *ngIf="(registerForm.controls['email'].touched || registerForm.controls['email'].dirty) && registerForm.controls['email'].hasError('required')">{{'VALIDATION.REQUIRED'|translate:({field:'REGISTER.EMAIL' | translate})}}</span>
          <span class="text-xs text-red-600" *ngIf="(registerForm.controls['email'].touched || registerForm.controls['email'].dirty) && registerForm.controls['email'].hasError('email')">{{'VALIDATION.EMAIL' | translate}}</span>
          <span class="text-xs text-red-600" *ngIf="(registerForm.controls['email'].touched || registerForm.controls['email'].dirty) && registerForm.controls['email'].hasError('backend')">{{errors.email}}</span>
        </div>
        <div class="mt-4">
          <label class="block rtl:text-right">{{'REGISTER.PASSWORD' | translate}}</label>
          <input type="password" placeholder="{{'REGISTER.PASSWORD' | translate}}" formControlName="password"
                 class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-600">
          <span class="text-xs text-red-600" *ngIf="(registerForm.controls['password'].touched || registerForm.controls['password'].dirty) && registerForm.controls['password'].hasError('required')">{{'VALIDATION.REQUIRED'|translate:({field:'REGISTER.PASSWORD' | translate})}}</span>
          <span class="text-xs text-red-600" *ngIf="(registerForm.controls['password'].touched || registerForm.controls['password'].dirty) && registerForm.controls['password'].hasError('backend')">{{errors.password}}</span>
        </div>
        <div class="flex items-baseline justify-between">
          <button type="submit" class="px-6 py-2 mt-4 text-white bg-indigo-600 rounded-lg hover:bg-indigo-900">{{'BUTTONS.REGISTER' | translate}}</button>
          <a routerLink="/auth/login" class="text-sm text-indigo-600 hover:underline">{{'REGISTER.HAVE_AN_ACCOUNT' | translate}}</a>
        </div>
      </div>
    </form>
  </div>
</div>
