<div class="relative bg-gray-50 border-b-2 border-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a routerLink="/">
          <span class="sr-only">Logo</span>
          <img class="h-8 w-auto sm:h-10" src="/front/assets/images/logo.svg" alt="logo">
        </a>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button (click)="toggleMenu()" type="button" class="bg-gray-50 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
          <span class="sr-only">Nav menu</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a href="javascript:void(0)" (click)="changeLang('en')" class="whitespace-nowrap text-sm px-3 text-gray-500 hover:text-gray-900"> {{'HEADER.ENGLISH' | translate}} </a>
        <a href="javascript:void(0)" (click)="changeLang('ar')" class="whitespace-nowrap text-sm px-3 text-gray-500 hover:text-gray-900"> {{'HEADER.ARABIC' | translate}} </a>
        <a *ngIf="!user" routerLink="/auth/login" class="whitespace-nowrap text-sm text-gray-500 px-3 hover:text-gray-900"> {{'HEADER.LOGIN' | translate}} </a>
        <a *ngIf="!user" routerLink="/auth/register" class="mx-3 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm text-white bg-indigo-600 hover:bg-indigo-700"> {{'HEADER.REGISTER' | translate}} </a>
        <a *ngIf="user" href="javascript:void(0)" (click)="logout()" class="mx-3 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-red-600 rounded-md shadow-sm text-sm text-red-600 bg-white hover:bg-red-600 hover:text-white transition-colors"> {{'HEADER.LOGOUT' | translate}} </a>
      </div>
    </div>
  </div>

  <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" *ngIf="isMenuOpened">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="pt-5 pb-6 px-5">
        <div class="flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
          </div>
          <div class="-mr-2">
            <button (click)="toggleMenu()" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Close menu</span>
              <!-- Heroicon name: outline/x -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-6">
          <nav class="grid gap-y-8">
            <a href="javascript:void(0)" (click)="changeLang('en')" class="whitespace-nowrap text-sm px-3 text-gray-500 hover:text-gray-900"> {{'HEADER.ENGLISH' | translate}} </a>
            <a href="javascript:void(0)" (click)="changeLang('ar')" class="whitespace-nowrap text-sm px-3 text-gray-500 hover:text-gray-900"> {{'HEADER.ARABIC' | translate}} </a>
            <a *ngIf="!user" routerLink="/auth/login" class="whitespace-nowrap text-sm text-gray-500 px-3 hover:text-gray-900"> {{'HEADER.LOGIN' | translate}} </a>
            <a *ngIf="!user" routerLink="/auth/register" class="mx-3 whitespace-nowrap max-w-max px-4 py-2 border border-transparent rounded-md shadow-sm text-sm text-white bg-indigo-600 hover:bg-indigo-700"> {{'HEADER.REGISTER' | translate}} </a>
            <a *ngIf="user" href="javascript:void(0)" (click)="logout()" class="mx-3 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-red-600 rounded-md shadow-sm text-sm text-red-600 bg-white hover:bg-red-600 hover:text-white transition-colors"> {{'HEADER.LOGOUT' | translate}} </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
