/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');


.min-w-400px {
  min-width: 400px;
}

html[dir=rtl] {
  body, * {
    font-family: 'Almarai', sans-serif;
    text-align: right;
  }
}

.animation-fade {
  animation: fadeIn 1s 1 forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
