<ngx-masonry #masonry [options]="masonryOptions" [updateLayout]="true">
  <div ngxMasonryItem [prepend]="false" class="masonry-item rounded-lg shadow-lg overflow-hidden group"
       *ngFor="let item of posts">
    <img [src]="item.image_url" masonrylazy loading="lazy" class="object-cover max-w-full" [alt]="item | translateAttribute:'title'">
    <div class="masonry-item-details absolute inset-0 transition-opacity bg-gradient-to-b from-transparent to-gray-800 opacity-0 group-hover:opacity-100">
      <span class="edit absolute text-white top-2 left-2 rtl:right-2 rtl:left-auto cursor-pointer border-b border-b-0 hover:border-b-2 transition-all" (click)="openFormDialog(item)" canMakeAction [post]="item">{{'BUTTONS.EDIT' | translate}}</span>
      <a routerLink="/posts/{{item.slug}}" class="title absolute text-white text-lg font-bold bottom-2 left-2 rtl:right-2 rtl:left-auto">{{item | translateAttribute:'title'}}</a>
      <span class="edit absolute text-white bottom-2 right-2 rtl:left-2 rtl:right-auto cursor-pointer border-b border-b-0 hover:border-b-2 transition-all" (click)="openDeleteDialog(item)" canMakeAction [post]="item">{{'BUTTONS.DELETE' | translate}}</span>
    </div>
  </div>
</ngx-masonry>
