.masonry-item {
  margin-bottom: 20px;
  //margin-right: 20px;
  //background-color: #f1f1f1;
  //background-size: cover;
  width: calc(100% / 3 - 20px);

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 100%;
    height: 100%;
    min-height: 100%;
  }

  @media (max-width: 768px) {
    width: calc(100% / 2 - 10px);
  }

  @media (max-width: 465px) {
    width: 100%;
  }

  .masonry-item-details {
    //opacity: 0;
    //background: linear-gradient(to bottom, transparent 30%, rgba(0 0 0 / 60%));
    //transition: .3s opacity ease-in-out;
    //position: absolute;
    //inset: 0;
  }

}

ngx-masonry {
  @media (max-width: 768px) {
    margin: 0 10px;
  }
}
