<div id="large-modal" tabindex="-1" [@openClose]="stateName"
     class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full flex justify-center items-center">
  <div class="relative p-4 w-full max-w-4xl h-full md:h-auto z-50">
    <!-- Modal content -->
    <form (submit)="submit()" class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-center p-5 rounded-t border-b">
        <h3 class="text-xl font-medium text-gray-900">
          {{((! post) ? 'FORM.ADD' : 'FORM.EDIT') | translate}}
        </h3>
        <button type="button" (click)="closePopup()"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto rtl:mr-auto rtl:ml-0 inline-flex items-center">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="px-6 pb-6 space-y-6">
        <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200">
          <ul class="flex flex-wrap -mb-px">
            <li class="mr-2">
              <a href="#english" (click)="$event.preventDefault();tab = 'english'"
                 class="inline-block p-4 rounded-t-lg border-b-2 {{getActiveClass('english')}}">{{'FORM.ENGLISH' | translate}}</a>
            </li>
            <li class="mr-2">
              <a href="#arabic" (click)="$event.preventDefault();tab = 'arabic'"
                 class="inline-block p-4 rounded-t-lg border-b-2 {{getActiveClass('arabic')}}">{{'FORM.ARABIC' | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="space-y-6 animation-fade" *ngIf="tab === 'english'">
          <div>
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900">{{'FORM.TITLE' | translate}}</label>
            <input [(ngModel)]="model.translations.en.title" type="text" name="text" id="text"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <span class="text-xs text-red-500" *ngIf="errors.translations && errors.translations[0] && errors.translations[0].title">{{errors.translations[0].title}}</span>
          </div>
          <div>
            <label for="description"
                   class="block mb-2 text-sm font-medium text-gray-900">{{'FORM.DESCRIPTION' | translate}}</label>
            <textarea name="description" [(ngModel)]="model.translations.en.description" id="description"
                      rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 "></textarea>
            <span class="text-xs text-red-500" *ngIf="errors.translations && errors.translations[0] && errors.translations[0].description">{{errors.translations[0].description}}</span>
          </div>
        </div>
        <div class="space-y-6 animation-fade" *ngIf="tab === 'arabic'">
          <div>
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900">{{'FORM.TITLE' | translate}}</label>
            <input type="text" name="text" [(ngModel)]="model.translations.ar.title" id="text"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <span class="text-xs text-red-500" *ngIf="errors.translations && errors.translations[1] && errors.translations[1].title">{{errors.translations[1].title}}</span>
          </div>
          <div>
            <label for="description"
                   class="block mb-2 text-sm font-medium text-gray-900">{{'FORM.DESCRIPTION' | translate}}</label>
            <textarea name="description" [(ngModel)]="model.translations.ar.description" id="description"
                      rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 "></textarea>
            <span class="text-xs text-red-500" *ngIf="errors.translations && errors.translations[1] && errors.translations[1].description">{{errors.translations[1].description}}</span>
          </div>
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900" for="image">{{'FORM.IMAGE' | translate}}</label>
          <input (change)="fileChanged($event)" class="block w-full py-2 px-3 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none" id="image" type="file" accept="image/png,image/jpg">
          <span class="text-xs text-red-500" *ngIf="errors.image">{{errors.image}}</span>
          <img class="mt-4 rounded-lg w-64" src="{{post.image_url}}" [alt]="post | translateAttribute: 'title'" *ngIf="post && post.image_url"/>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center rtl:flex-row-reverse p-6 space-x-2 rounded-b border-t border-gray-200">
        <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">{{'BUTTONS.SUBMIT' | translate}}</button>
        <button type="button" (click)="closePopup()"
                class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">{{'BUTTONS.CANCEL' | translate}}</button>
      </div>
    </form>
  </div>
  <div class="bg-gray-900 bg-opacity-50 fixed inset-0 z-40" (click)="closePopup()"></div>
</div>
