<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 rounded-lg text-left bg-white shadow-lg max-w-2xl w-full">
    <div class="flex justify-center mb-3">
      <img class="h-8 w-auto sm:h-10" src="/front/assets/images/logo.svg" alt="logo">
    </div>
    <h3 class="text-2xl font-bold text-center">{{'LOGIN.TITLE' | translate}}</h3>
    <form (submit)="$event.preventDefault();login()" [formGroup]="loginForm">
      <div class="mt-4">
        <div>
          <label class="block rtl:text-right" for="email">{{'LOGIN.EMAIL' | translate}}</label>
            <input type="text" placeholder="{{'LOGIN.EMAIL' | translate}}" id="email" formControlName="email"
                   class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-600">
            <span class="text-xs text-red-600" *ngIf="(loginForm.controls['email'].touched || loginForm.controls['email'].dirty) && loginForm.controls['email'].hasError('required')">{{'VALIDATION.REQUIRED'|translate:({field:'LOGIN.EMAIL' | translate})}}</span>
            <span class="text-xs text-red-600" *ngIf="(loginForm.controls['email'].touched || loginForm.controls['email'].dirty) && loginForm.controls['email'].hasError('email')">{{'VALIDATION.EMAIL' | translate}}</span>
            <span class="text-xs text-red-600" *ngIf="(loginForm.controls['email'].touched || loginForm.controls['email'].dirty) && loginForm.controls['email'].hasError('backend')">{{errors.email}}</span>
        </div>
        <div class="mt-4">
          <label class="block rtl:text-right">{{'LOGIN.PASSWORD' | translate}}</label>
            <input type="password" placeholder="{{'LOGIN.PASSWORD' | translate}}" formControlName="password"
                   class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-600">
          <span class="text-xs text-red-600" *ngIf="(loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && loginForm.controls['password'].hasError('required')">{{'VALIDATION.REQUIRED'|translate:({field:'LOGIN.PASSWORD' | translate})}}</span>
          <span class="text-xs text-red-600" *ngIf="(loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && loginForm.controls['password'].hasError('backend')">{{errors.password}}</span>
        </div>
        <div class="flex items-baseline justify-between">
          <button type="submit" class="px-6 py-2 mt-4 text-white bg-indigo-600 rounded-lg hover:bg-indigo-900">{{'BUTTONS.LOGIN' | translate}}</button>
          <a routerLink="/auth/register" class="text-sm text-indigo-600 hover:underline">{{'LOGIN.DONT_HAVE_AN_ACCOUNT' | translate}}</a>
        </div>
      </div>
    </form>
  </div>
</div>
