@mixin box($color) {
  .box {
    //height: 120px;
    background-color: #fff;
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid $color;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .subject {
      margin: 0 1.5rem;
      flex: 1;

      h3 {
        font-size: 17px;
      }

      p {
        font-size: 14px;
        margin-bottom: 0;
        color: #909092;
      }
    }

    .icon {

      [class^=icon], .far {
        font-size: 20px;
        color: $color;
      }
    }

    .fa {
      font-size: 18px;
      color: #c3c2c7;
      cursor: pointer;
    }
  }
}

@mixin body {
  position: fixed;
  top: 1rem;
  left: 50%;
  min-width: 380px;
  transform: translate(-50%, -100%);
  transition: 0.15s all ease-in-out;
  opacity: 0;
  z-index: -1;

  &.show {
    transform: translate(-50%, 0rem);
    z-index: 1000000000;
    opacity: 1;
  }
}

.wrapper- {
  @include body;

  &success {
    @include body;
    @include box(rgba(16,185,129,1));
  }

  &info {
    @include body;
    @include box(rgba(59,130,246,1));
  }

  &warning {
    @include body;
    @include box(rgba(217,119,6,1));
  }

  &danger {
    @include body;
    @include box(rgba(239,68,68,1));
  }


}


