<div class="relative bg-gray-50 border-t-2 border-gray-100 p-0 py-4 lg:p-5">
  <div class="max-w-7xl mx-auto px-4 sm:px-0">
    <ul class="flex justify-between items-center">
      <li><img class="w-8 h8 md:w-12 md:h-12 lg:w-16 lg:h-16" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="instagram"></li>
      <li><img class="w-8 h8 md:w-12 md:h-12 lg:w-16 lg:h-16" src="https://cdn-icons-png.flaticon.com/512/174/174848.png" alt="facebook"></li>
      <li><img class="w-8 h8 md:w-12 md:h-12 lg:w-16 lg:h-16" src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="whatsapp"></li>
      <li><img class="w-8 h8 md:w-12 md:h-12 lg:w-16 lg:h-16"
        src="https://cdn-icons.flaticon.com/png/512/4494/premium/4494477.png?token=exp=1652180620~hmac=29ba0e9c3fbb1c151d976d6d03bda3e8"
        alt="twitter"></li>
      <li><img class="w-8 h8 md:w-12 md:h-12 lg:w-16 lg:h-16" src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="youtube"></li>
    </ul>
  </div>
</div>
